<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title> Test </title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?v=<?= time() ?>">
    	{% block extra_css %}{% endblock %}
</head>
<body>	
	<header>
		<a href={% url 'index' %}>Главная страница</a>

		<div class='login-logout'>
			{% if user.is_authenticated %}
     				<p>Пользователь: {{ user.get_username }}</p>

				<form action={% url 'profile' %} method='POST'>
					{% csrf_token %}
				
					<input type='hidden' name='id' value='start'>
					<input type='submit' value='Профиль'>
				</form>

     				<p><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></p>
			{% else %}
     				<p><a href="{% url 'login' %}?next={{request.path}}">Авторизация</a></p>
				<p><a href='{% url 'register' %}?name={{request.path}}'>Зарегистрироваться</a></p>
			{% endif %}
		</div>
	</header>
	
	<main>
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>
